<%= form_for [@teacher, @student] do |f| %>
  <div class="panel panel-default">
    <div class="form-group">
      <%= f.label :first_name%>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name%>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :parent_email%>
      <%= f.email_field :parent_email, class: 'form-control' %>
    </div>
    <%= f.submit "Add Student", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
