<div class="container">
  <h1><%= @teacher.first_name %>'s Students</h1>
  <%= link_to "Add New Student", new_teacher_student_path(@teacher)%>
  <div class="container well">
    <% if @students.any? %>
      <% @students.each do |student| %>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <h4><%= student.first_name %> <%= student.last_name %></h4>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <h4><%=student.reports.where(color: "green").count%> <%=student.reports.where(color: "yellow").count%> <%=student.reports.where(color: "red").count%></h4>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <h4><%=student.reports.where(status: "tardy").count%> <%=student.reports.where(status: "absent").count%></h4>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <button class="btn btn-warning">Detailed Report</button>
        </div>
        <div class="clearfix"></div>
      <% end %>
    <% else %>
    <h2>No students yet</h2>
    <% end %>
  </div>
</div>
