<div class="container">
  <div class="login-box">
    <div class="logo text-center">
      <%= image_tag('logo_name.png') %>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="col-xs-2">
          <%= f.label :email %>
        </div>
        <div class="col-xs-9">
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <%= f.label :password %>
        </div>
        <div class="col-xs-9">
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <br>

      <div class="actions">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-9">
          <%= f.submit "Log in", class: "form-control btn btn-success" %>
        </div>
      </div>
    <% end %>
    <br><br><br>

    <div class="col-xs-2">
    </div>
    <div class="col-xs-9 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
