<h1>Create new report</h1>
<%= form_tag "/reports" do %>
  <div class="form-group">
    <%= label_tag 'report[][daily_summary]', "Daily Summary" %>
    <%= text_area_tag "report[][daily_summary]" %>
  </div>
  <div class="form-group">
    <%= label_tag 'report[][homework]', "Homework" %>
    <%= text_area_tag "report[][homework]" %>
  </div>
  <% @teacher.students.each do |student| %>
    <h4><%= student.first_name %></h4>
    <%= radio_button_tag "student#{student.id}[][color]", "green" %>
    <%= radio_button_tag "student#{student.id}[][color]", "yellow" %>
    <%= radio_button_tag "student#{student.id}[][color]", "red" %>
    <br>
    <%= radio_button_tag "student#{student.id}[][status]", "tardy" %>
    <%= radio_button_tag "student#{student.id}[][status]", "absent" %>
    <br>
    <div class="form-group">
      <%= label_tag 'student#{student.id}[][comment]', "Comment" %>
      <%= text_area_tag "student#{student.id}[][comment]" %>
    </div>
    <hr>
  <% end %>
  <%= submit_tag "Submit" %>
<% end %>
