<h1>Create new report</h1>

<%= form_for @report do |f| %>
  <div class="form-group">
    <%= f.label :daily_summary %>
    <%= f.text_field(:daily_summary, {:class => 'form-control', :required => 'true'}) %>
  </div>
  <div class="form-group">
    <%= f.label :homework %>
    <%= f.text_field(:homework, {:class => 'form-control', :required => 'true'}) %>
  </div>
  <% prefix = "students[]" %>
  <% @teacher.students.each do |student| %>
    <%= f.fields_for prefix, option do |option_form| %>
      <%= option_form.label :color %>
      <%= option_form.text_field :color %>
      <%= option_form.label :status %>
      <%= option_form.text_field :status %>
      <br>
    <% end %>
  <% end %>
  <hr>
  <button type="submit" class="btn btn-default">Send Reports</button>
<% end %>
